#alumni-page .category {
    text-align: center;
    color: rgb(250, 250, 250);
    margin-top: 50px;
}

#alumni-page .card {
    overflow: hidden;
    position: relative;
    background-color: black;
}

#alumni-page .card:nth-of-type(3n) {
    margin-right: 0;
}

#alumni-page .card img {
    width: 100%;
    min-height: 100%;
    transition: all 0.9s;
}

#alumni-page .card:hover img {
    transform: scale(1.2, 1.2);
}

#alumni-page .data {
    position: absolute;
    bottom: 5%;
    background: rgb(0, 0, 0);
    text-align: center;
    width: 90%;
    height: 80px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 5%;
    box-sizing: border-box;
    opacity: 0.8;
    transition: all 0.4s;
    color: aliceblue;
    border-radius: 0.25rem;
}

#alumni-page .card:hover .data {
    width: 100%;
    height: 35%;
    bottom: 0;
    opacity: 0.9;
    border-radius: 0.0;
}

#alumni-page .data h2 {
    margin: 0 0 5px 0;
    transition: color 0.4s;
}

#alumni-page .data p {
    opacity: 0;
    text-align: justify;
    transition: all 0.2s;
}

#alumni-page .card:hover .data p,
#alumni-page .card:hover .data a {
    opacity: 1;
}

#alumni-page .data a {
    color: #333;
    text-decoration: none;
    padding: 20px;
    opacity: 0;
}

#alumni-page .data a:hover,
#alumni-page .card:hover h2 {
    color: #38c;
}

#alumni-page hr {
    margin: 50px;
    border: none;
    height: 4px;
    background: #ff0000;
    background: -webkit-gradient(
            linear,
            left top,
            right bottom,
            color-stop(0%, #ff0000),
            color-stop(25%, #ffff00),
            color-stop(50%, #00ff00),
            color-stop(75%, #00ffff),
            color-stop(100%, #0000ff)
    );
    background: -webkit-linear-gradient(
            -45deg,
            #ff0000 0%,
            #ffff00 25%,
            #00ff00 50%,
            #00ffff 75%,
            #0000ff 100%
    );
    background: -moz-linear-gradient(
            -45deg,
            #ff0000 0%,
            #ffff00 25%,
            #00ff00 50%,
            #00ffff 75%,
            #0000ff 100%
    );
    background: -o-linear-gradient(
            -45deg,
            #ff0000 0%,
            #ffff00 25%,
            #00ff00 50%,
            #00ffff 75%,
            #0000ff 100%
    );
    background: -ms-linear-gradient(
            -45deg,
            #ff0000 0%,
            #ffff00 25%,
            #00ff00 50%,
            #00ffff 75%,
            #0000ff 100%
    );
    background: linear-gradient(
            -45deg,
            #ff0000 0%,
            #ffff00 25%,
            #00ff00 50%,
            #00ffff 75%,
            #0000ff 100%
    );
}

@media screen and (max-width: 768px) {
    #alumni-page .card:hover .data {
        height: 25%;
    }
}
