/* CSS for alumni page */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#main .section-title {
    padding: 35px 0 15px;
}

.inner-page {
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
}

.accordion-button:not(.collapsed) {
  background-color: #fff6f3;
  color: #441e13;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('/assets/img/alumni/expand_less_black_24dp.svg');
}

.accordion-button {
    font-size: 25px;
    border-radius: 5px;
    color: #220d06;
}

.accordion-button::before {
    font-size: 25px;
    background-color: #6d0606;
}

.accordion-button::after {
    font-size: 25px;
    color: #ffffff;
    background-image: url('/assets/img/alumni/expand_more_black_24dp.svg');
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #fff6f3;
    color: #441e13;
} 

.accordion-body .social {
    float: right;
    color: #2867B2;
}

.card:hover .card-body{
    transition: ease-in-out 0.5s;
    opacity: 1;
}

.card-body {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff6f3;
    bottom: 0;
    border-radius: 5px;
    opacity: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer{
    background: #d4d1d1;
    padding-top: 90px;
    padding-bottom: 30px;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .footer-container .left-col .logo{
    width: 180px;
    margin-left: 88px;
  }
  
  .footer-container .left-col .rights-text{
    margin-top: 10px;
    margin-bottom: -20px;
  }
  
  .footer-container .right-col{
    margin-top: -55px;
  }
  
  .footer-container .right-col h1{
    font-size: 26px;
  }
  
  .footer-container .right-col .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
  
  .footer-container .right-col .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-container .right-col .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .footer-container .right-col .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .footer-container .right-col .btn:hover{
    opacity: .7;
  }
  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .footer-container .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
  
    .footer-container .left-col{
      width: 100%;
      text-align: center;
    }
  
    .footer-container .left-col .logo{
      margin-left: 0px;
    }
  }
  
  
  @media screen and (max-width:700px){
    .footer-container .right-col .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
      .footer-container .left-col .logo{
        margin-left: 0px;
      }
  }
  
  /*social icons*/
  .footer-container .left-col .social_links
  {
      padding: 1rem;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .social_links .combo
  {
      transform: scale(0.9);
      transition: 0.4s ease-in;
      margin: 0 0.5rem;
      height: 3em;
      width: 3em;
      line-height: 3em;
  }
  .combo .circle
  {
      color: #000000;
      transition: 0.4s ease-in;
      font-size: 3em;
  }
  .combo .icon
  {
      color: #b6b3b3;
      font-size: 2rem;
      transform: translateY(1px);
      transition: 0.2s ease-in;
  }
  .combo:hover
  {
      transform: scale(1.1);
  }
  .combo:hover , .combo:hover .icon
  {
      color:white;
  }
  .ig:hover , .ig:hover .circle
  {
      color:#e91e63;
  }
  .fb:hover , .fb:hover .circle
  {
      color:#2196f3;
  }
  .tw:hover , .tw:hover .circle
  {
      color:#2196f3;
  }