

.page-template-template-home {
  padding-top: 60px;
}

#upcoming-events-title {
  font-size: 25px;
  padding-right: 30px;
}

#events-schedule-heading{
  font-size: 20px;

}

#event-details {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 80px;
  font-size: 15px;
}

#events-grid {
  padding: 15px;
  text-align: center;
}

#events-span {
  margin: 5px auto 0;
}

.card-head {
  background-color: rgb(230,229,229);
  color: rgb(0, 0, 0);
}

#last-row {
  border-bottom: 1px #999 solid;
}
.section-project-title {
  font-size: 36px;
  color: #212121;
  line-height: 52px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
}

.section-project-title:before {
  position: absolute;
  content: '';
  left: 15px;
  bottom: 8px;
  width: 48px;
  height: 1px;
  background-color: #E91E63;
}

.section-project-title:after {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 2px;
  width: 48px;
  height: 1px;
  background-color: #E91E63;
}

.section-project-title:before, .section-project-title:after {
  left: 50%;
  margin-left: -45px;
}

.section-project-title:after {
  margin-left: -30px;
}

.section-padding {
  padding: 60px 0;
}


.accordion .header-title {
  position: relative;
}

.accordion .header-title:after {
  font-family: "LineIcons";
  content: "\e93a";
  position: absolute;
  right: 10px;
  color: #999;
  top: 50%;
  line-height: 1;
  padding: 0px 5px;
  margin-top: -7px;
}

.accordion .collapsed:after {
  content: "\e940";
}

.accordion .card-header {
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.card-header {
  cursor: pointer;
}

.accordion .card-header{
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}

.card-body {
  padding-left: 30px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.card-body-details {
  margin-bottom: 12px;
}

.location-label{
  color: #E91E63;
  font-size: 15px;
}

.location-details{
  font-size: 12px;
  padding-left:5px;
}

.button-events {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.read-button {
  background-color: #60ac08; /* Green */
  border: none;
  align-self: center;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

