{% load static %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'Site/img/about.jpg' %}" alt="SEDS-Team">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <div class="section-title">
                    <h2>About Us</h2>
                    <p style=" text-align: justify;">SEDS is an international non-profit organization to raise awareness
                        and advocate young minds on space exploration and the space industry. It has international
                        chapters all over the globe, SEDS INDIA being one among them which in itself has 9 local
                        chapters nation-wide. Along with the rest of the collegiate chapters, our goal is to provide a
                        premier platform for broadening one's knowledge by engaging in space-sciences and related fields
                        and as well as act as a center for networking and
                        and opportunities. To illuminate the spirit of love and enthusiasm for the space field, our
                        members are encouraged to engage in various technical projects, engineering competitions,
                        workshops, social events, seminars, outreach programs and space-related activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->