{% load static %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{{ about.image.url }}" alt="SEDS-Team-image">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <div class="section-title">
                    <h2>About Us</h2>
                    <p style=" text-align: justify;">
                        {{ about.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->