<!-- ======= Alumni Section ======= -->
<section id="alumni" class="alumni">
    <div class="container">

        <div class="section-title">
            <h2>Alumni</h2>
            <p>Alumni are valuable to the functioning and growth of the organisation. Their wealth of experiences play a
                big role in providing career guidance to students through mentorship. They can act as an intermediate
                between organisation and industries to provide opportunities and a means to network.</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-xxl-6 col-lg-8 col-md-10 align-items-stretch">
                <div class="box">
                    <h3>Founder</h3>
                    <div class="row">
                        <div class="col-md-4 pl-2 pr-0 member-img">
                            <img src="{{ STATIC_URL }}/img/alumni/2019/Achyuth.jpeg"
                                 class="img-fluid mx-auto d-block rounded"
                                 alt="...">
                        </div>
                        <div class="col-md-8 px-2 text-md-start">
                            <h5 class="alumni-name">Achyuth Rajendran</h5>
                            <ul>
                                <li>Mechanical Engineering - 2018</li>
                                <li>Research Intern at Indian Institute of Space Science and Technology</li>
                                <li>Masters Student at University of Florida</li>
                                <li>IRES President : Feb-June 2017</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <a href="alumni">
                <button class="alumni-more">View all</button>
            </a>
        </div>
    </div>
</section>
<!-- End Alumni Section -->