{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "navbar.html" %}

<section id="alumni-page">
    <div class="container">
        <div class="section-title">
            <h2>Alumni</h2>
        </div>
        {% for category in categories %}
        <div class="category">
            <h1>{{ category.categories }}</h1>
        </div>
        <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-3">
            {% for item in alumni %}
            {% if item.id == category.id %}
            <div class="col pt-2">
                <div class="card">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}"/>
                    <div class="data">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <i class="card-text">{{ item.designation }}</i>
                        <br>
                        <a href="{{ item.social }}" class="bi bi-linkedin"></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <hr>
        {% endfor %}
    </div>

    <!-- End #main -->
</section>

{% endblock content %}