{% load static %}

<!-- ======= Alumni Section ======= -->
<section id="alumni" class="alumni">
    <div class="container">

        <div class="section-title">
            <h2>Alumni</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-xxl-6 col-lg-8 col-md-10 align-items-stretch">
                <div class="alumni-box">

                    <div class="row">
                        <div class="col-md-5 pl-4 pr-0 alumni-member-img">
                            <img src="{% static 'Site/img/Achyuth.jpeg' %}"
                                 class="img-fluid mx-auto d-block rounded"
                                 alt="Achyuth Rajendran">
                        </div>
                        <div class="col-md-7 px-4 text-md-start">
                            <h5 class="alumni-name">Achyuth Rajendran</h5>
                            <ul>
                                <h5>Founder</h5>
                                <li>Mechanical Engineering - 2018</li>
                                <li>Research Intern at Indian Institute of Space Science and Technology</li>
                                <li>Masters Student at University of Florida</li>
                                <li>IRES President : Feb-June 2017</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="btn-wrap">
            <a href="/alumni">
                <button class="more">View all</button>
            </a>
        </div>

    </div>
</section>
<!-- End Alumni Section -->