<!-- ======= Blogs Section ======= -->
<section id="blogs" style="min-height: 100vh;">

    <div class="section-title">
        <h2>Blogs</h2>
    </div>

    <div class="container container-blog">

        {% for item in blogs %}
        <div class="blogcard">
            <div class="infos">
                <a href="https://medium.com/@sedscusat/interview-with-yuri-gagarin-but-you-are-yuri-8d394347d635">
                    <span class="blog-title" style="color: black;">{{ item.description }}</span><br>
                    <span class="author-name">{{ item.author }}</span>
                    <span class="date">{{ item.published }}</span>
                </a>
            </div>
            <a href="https://medium.com/@sedscusat/interview-with-yuri-gagarin-but-you-are-yuri-8d394347d635"><img
                    src="{{ item.image.url }}" alt="blog post"></a>
        </div>
        {% endfor %}

    </div>

    <a href="https://medium.com/@sedscusat">
        <button id="blog_more" class="blog-more">Read more</button>
    </a>

</section>
<!-- End Blogs Section -->