{% load static %}

<!-- ======= Events section ======= -->
<section id="events" class="events-grid">
    <div class="events-container">
        <div class="section-title">
            <h2>Events</h2>
        </div>
        <div class="eventWrapper">
            <div class="event">
                <div class="event--img">
                    <a href="assets/img/board.jpg">
                        <!--give the link of the poster-->
                        <img src="assets/img/board.jpg" alt="poster">
                        <!--give the link of the poster again-->
                    </a>
                </div>
                <div class="event--date">
                    <span class="date-details">September</span>
                    <span id="date">04</span>
                    <span class="date-details">2021</span>
                    <span class="date-details">
                        <a style="color: #fff;"
                           href="https://youtu.be/FF121er69zk"
                           target="_blank">Google
									meet</a>
                    </span>
                </div>
                <!--insert meet link in the hashtag there-->
                <div class="event--content">
                    <h2>
                        <a href="https://youtu.be/FF121er69zk" target="_blank">
                            INAUGURAL CEREMONY OF SEDS CUSAT BOARD COMMITTEE 2021-22
                        </a>
                    </h2>
                    <div class="event--content-info">
                        <div>
                            <time>11:30 AM – 12:30 PM</time>
                        </div>
                    </div>
                    <p class="event--content-ensemble">
                        SEDS CUSAT unveils our new website and executive board
                        2021 to our
                        members, volunteers and all space enthusiasts
                    </p>
                    <div class="event--content-social">
                        <a href="https://www.instagram.com/ires_cusat/?hl=en" target="blank"
                           class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.facebook.com/SedsCusatIrescusat/" target="blank"
                           class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.linkedin.com/company/sedscusat/" target="blank" class="linkedin"><i
                                class="bi bi-linkedin"></i></i></a>
                        <a href="https://twitter.com/CusatSeds" target="blank" class="twitter"><i
                                class="bi bi-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="">
            <button id="blog_more" class="blog-more">Coming soon</button>
        </a>
    </div>
</section>}
<!-- End Events Section -->