{% load static %}

<!-- ======= Events section ======= -->
<section id="events" class="events-grid">
    <div class="events-container">
        <div class="section-title">
            <h2>Events</h2>
        </div>
        <div class="eventWrapper">
            {% for item in events %}
            <div class="event">
                <div class="event--img">
                    <a href="{{ item.image.url }}">
                        <!--give the link of the poster-->
                        <img src="{{ item.image.url }}" alt="poster">
                        <!--give the link of the poster again-->
                    </a>
                </div>
                <div class="event--date">
                    <span class="date-details">{{ item.event_day|date:"F" }}</span>
                    <span id="date">{{ item.event_day|date:"d" }}</span>
                    <span class="date-details">{{ item.event_day|date:"y" }}</span>
                    <span class="date-details">
                        <a style="color: #fff;"
                           href="{{ events.registration_link }}"
                           target="_blank">{{ item.location }}</a>
                    </span>
                </div>
                <!--insert meet link in the hashtag there-->
                <div class="event--content">
                    <h2>
                        <a href="{{ item.registration_link }}" target="_blank">
                            {{ item.title }}
                        </a>
                    </h2>
                    <div class="event--content-info">
                        <div>
                            <time>
                                {{ item.event_time_start }} to
                                {{ item.event_time_end }}
                            </time>
                        </div>
                    </div>
                    <p class="event--content-ensemble">
                        {{ item.description }}
                    </p>
                    <div class="event--content-social">
                        <a href="https://www.instagram.com/ires_cusat/?hl=en" target="blank"
                           class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.facebook.com/SedsCusatIrescusat/" target="blank"
                           class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.linkedin.com/company/sedscusat/" target="blank" class="linkedin"><i
                                class="bi bi-linkedin"></i></i></a>
                        <a href="https://twitter.com/CusatSeds" target="blank" class="twitter"><i
                                class="bi bi-twitter"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <a href="">
            <button id="blog_more" class="blog-more">Stay Tuned</button>
        </a>
    </div>
</section>}
<!-- End Events Section -->