{% load static %}
<!-- ======= Footer ======= -->
<footer class="footer-section">
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="copyright-text">
                    <center>&copy; 2021 Created By <img class="footer-logo" src="{% static 'Site/img/logo.png' %}" alt=""><br>All
                        Rights
                        Reserved
                    </center>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->