{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

<!-- ======= Gallery Section ======= -->
<section id="gallery-page">
    <div class="section-title">
        <h2>Gallery</h2>
    </div>
    <div class="seds-gallery container">
        <div class="row">
            {% for item in gallery %}
            <div class="col-md-4 seds-gallery-grid-item">
                <a class="lightbox"
                   href="{{ item.image.url }}">
                    <img src="{{ item.image.url }}"
                         class="img-fluid mx-auto d-block" alt="{{ item.title }}">
                </a>
            </div>
            {% endfor %}
        </div>
        <a href="/">
            <button class="go-back"> Go Back</button>
        </a>
    </div>
</section>

<!-- End Gallery Section -->

{% endblock content %}