{% load static %}

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container">
        <div class="section-title">
            <h2>Gallery</h2>
        </div>
        <div class="gird-container">
            <div class="gird-item" style="background-image: url('resource/img2.jpg');">
                <div class="ejercico">
                    <a href="archivos/caja/index.html">
                        CAJA 2
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img3.jpg');">
                <div class="ejercico">
                    <a href="archivos/card.boostrap/index.html">
                        CAJA 3
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img4.jpg');">
                <div class="ejercico">
                    <a href="archivos/Flex.images/index.html">
                        CAJA 4
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img7.jpg');">
                <div class="ejercico">
                    <a href="archivos/Gallery.Hover.javas/index.html">
                        CAJA 7
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img8.jpg');">
                <div class="ejercico">
                    <a href="archivos/Gird/index.html">
                        CAJA 8
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img2.jpg');">
                <div class="ejercico">
                    <a href="archivos/caja/index.html">
                        CAJA 2
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img3.jpg');">
                <div class="ejercico">
                    <a href="archivos/card.boostrap/index.html">
                        CAJA 3
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img4.jpg');">
                <div class="ejercico">
                    <a href="archivos/Flex.images/index.html">
                        CAJA 4
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img2.jpg');">
                <div class="ejercico">
                    <a href="archivos/caja/index.html">
                        CAJA 2
                    </a>
                </div>
            </div>
            <div class="gird-item" style="background-image: url('resource/img3.jpg');">
                <div class="ejercico">
                    <a href="archivos/card.boostrap/index.html">
                        CAJA 3
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-wrap">
        <a href="gallery">
            <button class="alumni-more">View all</button>
        </a>
    </div>
</section>
<!-- End Gallery Section -->