{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

<!-- ======= Gallery Section ======= -->
<section id="gallery-page">
    <div class="section-title">
        <h2>Gallery</h2>
    </div>
    <div class="seds-gallery container">
        <div class="row">
            <div class="col-md-4 seds-gallery-grid-item">
                <a class="lightbox" href="https://seds-cusat.github.io/Image-Hoster/gallery/DSC_0060.NEF-min.jpg">
                    <img src="https://seds-cusat.github.io/Image-Hoster/gallery/DSC_0060.NEF-min.jpg"
                         class="img-fluid mx-auto d-block" alt="#">
                </a>
            </div>
        </div>

        <a href="/">
            <button class="go-back"> Go Back</button>
        </a>
    </div>
</section>

<!-- End Gallery Section -->

{% endblock content %}