{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">
        <a href="#hero" class="logo me-auto me-lg-0"><img src="{% static 'Site/img/logo.png' %}" alt=""
                                                          class="img-fluid"></a>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="/#about">About</a></li>
                <li><a class="nav-link scrollto" href="/#events">Events</a></li>
                <li><a class="nav-link scrollto" href="/#projects">Projects</a></li>
                <li><a class="nav-link scrollto" href="/#blogs">Blogs</a></li>
                <li><a class="nav-link scrollto" href="/#team">Team</a></li>
                <li><a class="nav-link scrollto" href="/#alumni">Alumni</a></li>
                <li><a class="nav-link scrollto" href="/#gallery">Gallery</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- navbar -->
        <div class="header-social-links d-flex align-items-center">
            <a href="https://www.instagram.com/ires_cusat/?hl=en" target="blank" class="instagram"><i
                    class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/SedsCusatIrescusat/" target="blank" class="facebook"><i
                    class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/company/sedscusat/" target="blank" class="linkedin"><i
                    class="bi bi-linkedin"></i></i></a>
            <a href="https://twitter.com/CusatSeds" target="blank" class="twitter"><i class="bi bi-twitter"></i></a>
        </div>
    </div>
</header>
<!-- End Header -->