{% load static %}

<!-- Vendor JS Files -->
<script src="{% static 'Site/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Site/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'Site/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'Site/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'Site/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'Site/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'Site/js/main.js' %}"></script>
<!-- About section transition -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init();</script>