{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

<section id="team-page" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>
        </div>

        <div class="team-row row">
            <div class="box col-lg-4">
                <img src="https://seds-cusat.github.io/Image-Hoster/2021/ires%20faculty.jpg" alt=""/>
                <a class="teamname" href="https://www.linkedin.com/in/gireesh-kumaran-thampi-b-s-6711253b"
                   target="_blank"><b>Dr.Gireesh Kumaran Thampi B S</b><br><small>Faculty Advisor</small></a>
            </div>
            <div class="box col-lg-4">
                <img src="https://seds-cusat.github.io/Image-Hoster/2021/Neha.png" alt=""/>
                <a class="teamname" href="https://www.linkedin.com/in/nehhamariamrenju/" target="_blank"><b>R Nehha
                    Mariam</b>
                    | <small>President</small></a>
            </div>
            <div class="box col-lg-4">
                <img src="https://seds-cusat.github.io/Image-Hoster/2021/Adithyan%20C%20R.jpg" alt=""/>
                <a class="teamname" href="https://www.linkedin.com/in/adithyan-c-r-607882218"
                   target="_blank"><b>Adithyan C
                    R</b> | <small>Secretary</small></a>
            </div>
        </div>

        <a href="/index.html#team">
            <button class="go-back"> Go Back</button>
        </a>
    </div>
</section>

{% endblock content %}