{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}

<section id="team-page" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>
        </div>

        <div class="team-row row">
            {% for item in team %}
            <div class="box col-lg-4">
                <img src="{{ item.image.url }}" alt=""/>
                <a class="teamname" href="https://www.linkedin.com/in/gireesh-kumaran-thampi-b-s-6711253b/"
                   target="_blank"><b>{{ item.name }}</b><br><small>{{ item.designation }}</small></a>
            </div>
            {% endfor %}
        </div>
        </div>

        <a href="/index.html#team">
            <button class="go-back"> Go Back</button>
        </a>
    </div>
</section>

{% endblock content %}