<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>

        </div>
        <div class="team-row">
            <div class="box">
                <img src="https://shu-vro.github.io/Parallax-Image-Gallery/resources/img/1.jpeg" alt=""/>
                <a class="teamname" href="https://www.instagram.com/viraj_ghelani/?hl=en"
                   target="_blank"><b>Viraj Gehlani</b> | <small>Faculty Coordinator</small></a>
            </div>
            <div class="box">
                <img src="https://shu-vro.github.io/Parallax-Image-Gallery/resources/img/1.jpeg" alt=""/>
                <a class="teamname" href="https://www.instagram.com/ayush007/" target="_blank"><b>Viraj
                    Gehlani</b> | <small>Designation</small></a>
            </div>
            <div class="box">
                <img src="https://shu-vro.github.io/Parallax-Image-Gallery/resources/img/1.jpeg" alt=""/>
                <a class="teamname" href="https://www.instagram.com/ayush007/" target="_blank"><b>Viraj
                    Gehlani</b> | <small>Designation</small></a>
            </div>
        </div>
        <a href="/team.html">
            <button class="more">View All</button>
        </a>

    </div>
</section>
<!-- End Team Section -->